input[type="radio"] {
    width:14px;
    height: 14px;
    border: 1px solid #5F9EA0;
    border-radius: 50%;
    position: relative;
    margin: 5px;

    &:checked:before{
        content: "";
;       position: absolute;
        width:8px;
        height: 8px;
        border-radius: 50%;
        background: #5F9EA0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}