.banner{
    
	background: url('/../../img/banner.jpg') no-repeat 50% 50%;
    background-size: cover;
    min-height: 650px;
    position: relative;
    a{
        // color: #fff;
        // text-decoration: underline;
    }
    &::before{
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0,0,0,0.4);
    }
    &__header{
        text-align: right;
        color: #f0f0f0;
        font-size: 39px;
        animation: 3s backwards rightToLeft;

        @media screen and (max-width: 767px) {
            text-align: center;
            font-size: 30px;
            margin-bottom: 10px;
        }
    }
    &__wrapper{
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        &.m-secondary{
            .banner__header{
                text-align: left;
                margin: 100px 0 0 100px;
                max-width: 300px;
                width: 100%;
                text-transform: uppercase;
                padding: 5px 0;
                animation: none;
            }
            .banner__subheader{
                text-align: left;
                margin: 0 0 0 100px;
                max-width: 300px;
                width: 100%;
                text-transform: uppercase;
                font-size: 35px;
                padding: 5px 0;
                animation: none;
            }
            .banner__button{
                align-self: flex-start;
                margin-left: 100px;
                width: 150px;
                height: 50px;
                border-radius: 50px;
                padding: 0;
                margin-bottom: 5px;
                
            }
            .banner__under-button{
                align-self: flex-start;
                margin-left: 100px;
            }
        }
    }
   

    &__subheader{
        text-align: right;
        color: #f0f0f0;
        font-size: 29px;
        margin-bottom: 50px;
        animation: 3s ease-in 1s backwards rightToLeft;

        @media screen and (max-width: 767px) {
           text-align: center;
           font-size: 20px; 
           margin-bottom: 20px;
        }
    }

    &__list {
        display: flex;
        justify-content: flex-end;

        @media screen and (max-width: 767px) {
            justify-content: center;
        }
        
    }

    &__icon {
        position: relative;
        min-height: 50px;
        
        img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }
    }

    &__item {
        margin: 0 20px 60px;
        text-align: center;

        @media screen and (max-width: 767px) {
            margin: 0 10px 40px;
        }

        &.item_1 {
            animation: 3s ease-in 2s backwards rightToLeft;
        }

        &.item_2 {
            animation: 3s ease-in 2.5s backwards rightToLeft;
        }

        &.item_3 {
            animation: 3s ease-in 3s backwards rightToLeft;
        }
    }

    &__title{
        color: #f0f0f0;
        
    }
    &__button{
        background: #5F9EA0;
		border: none;
		width: 300px;
		height: 50px;
		border-radius: 5px;
		color: #f0f0f0;
        align-self: flex-end;
        margin-bottom: 20px;
        
        animation: 3s ease-in 4s backwards rightToLeft;
        animation: transfusion 10s infinite;
		// animation-direction: 10s;
		// animation-iteration-count: infinite;

        @media screen and (max-width: 767px) {
            margin: 0 auto 20px;  
          }
    }
    &__under-button{
        color: #f0f0f0;
        align-self: flex-end;
        

        @media screen and (max-width: 767px) {
          margin-bottom: 10px;  
        }
    }
}



