.Benefits{
    padding: 30px 0;
    background: #f6f6f6;

    &__header{
        text-align: center;
        margin-bottom: 50px;
        
        @media screen and (max-width: 767px) {
            font-size: 24px;  
        }
    }

    &__list{
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
    }

    &__item{
        margin: 0 30px ;
        text-align: center;
        opacity: 0;

        @media screen and (max-width: 767px) {
            margin: 0px 0px 25px;
        }
        
        &.item_1{
            animation: 1s ease-in 1s backwards opacityOff;

        }
        
        &.item_2 {
            animation: 1s ease-in 0.5s backwards opacityOff;
        }
        &.item_3 {
            animation: 1s ease-in backwards opacityOff;
            
        }
    }

    &__subheader{
        font-size: 18px; 
        margin: 0 0 20px;
    }

    &__text{
        text-align: center;
        margin: 5px 30px 0 ;
        font-size: 15px;

        @media screen and (max-width: 767px) {
            margin: 0 auto;
            max-width: 250px;
        }
    }

    &__link{
        color: #de0101;
    }

    &.animated {
        .Benefits__item{
            margin: 0 30px ;
            text-align: center;
            opacity: 0;

            @media screen and (max-width: 767px) {
                margin: 0 0 25px;
            }
            
            &.item_1{
                animation: 1s ease-in forwards opacityOn;
            }
            
            &.item_2 {
                animation: 1s ease-in 0.5s forwards opacityOn;  
            }

            &.item_3 {
                animation: 1s ease-in 1s forwards opacityOn; 
            }
        }
    }
}

@keyframes opacityOn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes opacityOff{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}