.catalog{
    padding-bottom: 100px;

    &__list{
        margin-top: 75px;
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
        padding-left: 0;
    }
    
    &__item{
        width: 220px;
        height: 50px;
        border: 2px solid #d0d0d0;
        color: #6b6b6b;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        line-height: 48px;
        transform: skewX(-25deg);
        margin: 0 5px;
        cursor: pointer;
        
        &:hover{
            transition: 1.0s all;
            box-shadow: 3px 3px 20px #5F9EA0;
        }
        div{
            transform: skewX(25deg);
            
            @media screen and (max-width: 767px) {
                font-size: 13px; 
              }
        }

        &-active{
            background: #5F9EA0;
            color: #f0f0f0;
           
        }
    }
    &__content{
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        &-active{
            display: flex;
        }

    }
    &-card{
        width: calc(50% + 20px);
        max-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 440px;
        border: 2px solid #e8e8e8;
        background: #fff;
        padding: 20px 20px 27px;
        overflow: hidden;
        margin:0 auto 20px;

        &__price {
            margin-bottom: 20px;
        }

        &__img{
            display: block;
            justify-content: center;
            margin: 0 auto 20px;
            max-width: 100%;
            min-height: 100px;
        }
        &__subtitle{
            color: #0d0d0d;
            font-size: 18px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 16px;
        }

        &__descr{
            color: #0d0d0d;
            font-size: 15px;
            font-weight: 300;
            text-align: center;
            margin-bottom: 17px;
        }
        &__link{
            display: flex;
            color: #5F9EA0;
            font-size: 14px;
            font-weight: 500;
            text-decoration: underline;
            text-transform: uppercase;
            justify-content: center;

            &:hover{
                color: #5F9EA0;
            }
        }
        &__footer{
            padding-top: 20px;
            border-top: 1px solid #e8e8e8;
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 767px) {
                
                flex-direction: column;
            }
        }
        &__old-price{
            font-size: 18px;
            font-weight: 300;
        }
        &__new-price{
            font-size: 20px;
            font-weight: 700;
        }
        &__btn{
            background: #5F9EA0;
            border-radius: 5px;
            color: #fff;

            @media screen and (max-width: 767px) {
                height: 40px;
            }
        }
        &__wrapper{
            display: flex;
            width: calc(200% + 40px);
            transition: transform 0.8s;

            &.m-active {
                
                transform: translateX(-50%);
            }
        }
        &__content{
            width: 50%;
            margin-right: 0px;
            transform: translateX(-100%);
            transition: 1.0s all;
            padding-bottom: 20px;
            &-active{
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__list{
            position: relative;
            width: 50%;
            margin-left: 20px;
            transform: translateX(0%);
            padding-right: 20px;
            transition: 1.0s all;
            padding-left: 19px;
            margin-bottom: 0;
            list-style-type: none;
            &-active{
                transform: translateX(-100%);
                margin-left: 0px;
            }
            li{
                position: relative;
                color: #555555;
                font-size: 14px;
                font-weight: 300;
                margin-bottom: 20px;
                &:before{
                    content: "";
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background: #5F9EA0;
                    left: -14px;
                    top: 7px;
                }
            }  
        }
        &__back {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50% - 19px));
            display: block;
            color: #5F9EA0;
            font-size: 14px;
            font-weight: 500;
            text-decoration: underline;
            text-transform: uppercase;
            &:hover{
                color: #5F9EA0;
            }
        }
    }
}