.comments {
    padding: 30px 0 0 30px;
    display: block;


    &__header {
        font-size: 30px;
        color: #000;
        text-transform: uppercase;    
    }

    &__subhaeder {
        color: #f0f0f0;
        font-size: 18px;
    }

    &__forms {
        display: flex;
        flex-direction: column;
        width: 100%;
        // max-width: 320px;
        justify-content: flex-start;
    }
    &__input {
        border-radius: 5px;
        margin-bottom: 5px;
        margin-top: 5px;


        &-wrapper{
            display: flex;
            align-items: center;
        }

        &.m-name {
            width: 150px;
            height: 30px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        &.m-text {
            background: #f0f0f0;
            position: relative;
            width: 100%;
            align-items: center;
            font-size: 5deg;
            border: none;
            padding-bottom: 10px;
            border-bottom: 1px solid #aaa;
        }
    }

    &__button{
        background: #5F9EA0;
        border: none;
        width: 150px;
        height: 30px;
        border-radius: 5px;
        color: #f0f0f0;
        align-self: flex-start;
        margin-bottom: 20px;
        margin-top: 10px;
        :disabled{
            background:#aaa;
        }
    }

    &__content {
        border-top: 1px solid #e8e8e8;
    }

    // &__list {
        
    // }

    &__item{
        display: flex;
        margin: 10px;

        &-name{
            text-align: center;
            text-transform: uppercase;
            color: #aaa;
        }

        &:nth-child(even) {
            margin-left: 30px;
        }
    }

    &__text{
        padding: 20px;
        border: 1px solid #e8e8e8;
        border-radius: 35px;
        margin-left: 20px;
    }

    &__img {
        margin: 5px;
        width: 40px;
        height: 40px;
    }

    &__avatar{
        border: 1px solid #e8e8e8;
        border-radius: 5px;
    }
}