.consultation{
    min-height: 680px;
    background: url("/../../img/obnovlenie-saita.jpg") no-repeat 50% 50%;
    background-size: cover;
    padding: 30px 0;
    position: relative;

    @media screen and (max-width: 767px) {
        min-height: 580px;
    }

    &::before{
        position: absolute;
        content: '';     
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.30);
    }
    &__header{
        font-size: 36px;
        color: #f0f0f0;

        @media screen and (max-width: 767px) {
            font-size: 24px; 
            text-align: center;
        }
    }

    &__subheader{
        color: #f0f0f0;
        font-size: 18px;

        @media screen and (max-width: 767px) {
            text-align: center; 
        }
    }
    &__button{
		background: #5F9EA0;
		border: none;
		width: 300px;
		height: 55px;
		border-radius: 9px;
		color: #f0f0f0;
        margin: 10px auto 0;
        animation: transfusion 10s infinite;
        z-index: 2;
        position: relative;
	}
}