.overlay{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.56);
    z-index: 3;

    &.m-show {
        display: block;
        position: fixed;
    }
}
.modal{
    width: 380px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    padding: 38px 40px 40px;
    z-index: 4;
    &__close{
        position: absolute;
        top: 10px;
        right: 10px;
        // right: -40px;
        font-size: 41px;
        color: #c70101;
        line-height: 21px;
        cursor: pointer;
    }
    &__subtitle{
        color: #0d0d0d;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    &__descr{
        color: #0d0d0d;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    &-m-mini{
        min-height: 140px;
    }
    .error{
        border: 1px solid red;
    }
    label.error{
        border: none;
        text-align: center;
    }

    &.m-show {
        display: block;
    }
}

#consultation, #order, #thanks{
    display: none;
}