@keyframes transfusion {
    0% {
        background: #5F9EA0;
    }
    25% {
        background: #1ecdd3;
    }
    50% {
        background: #177896;
    }
    75% {
        background: #12749b;
    }
    100% {
        background: #5F9EA0;
    }
}

@keyframes jumping {
    
}

@keyframes rightToLeft{
    from {
        transform: translateX(3000px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes leftToRight{
    0% {
        transform: translateX(-3000px);
    }
    100% {
        transform: translateX(0);
    }
}